@import 'tailwindcss';

@font-face {
  font-family: 'JustAnotherHand';
  src: url('/assets/fonts/justanotherhand_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
}
